.friendrequestcontainer {
  margin: 20px;
}

.friendrequestitem {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.friendrequestitem button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.friendrequestitem button:hover {
  background-color: #0056b3;
}
